pkgbase = volt-launchr
	pkgdesc = Keyboard-driven desktop launcher for applications, files, and commands
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/VoltLaunchr/Volt
	arch = x86_64
	license = Apache-2.0
	makedepends = cargo
	makedepends = nodejs
	makedepends = pnpm
	makedepends = pkgconf
	depends = bash
	depends = cairo
	depends = dbus
	depends = glibc
	depends = glib2
	depends = gtk3
	depends = libgcc
	depends = onnxruntime-cpu
	depends = openssl
	depends = webkit2gtk-4.1
	depends = xdg-utils
	depends = xz
	optdepends = org.freedesktop.secrets: store credentials in the desktop keyring
	options = !lto
	options = !debug
	source = volt-0.4.0.tar.gz::https://github.com/VoltLaunchr/Volt/archive/refs/tags/v0.4.0.tar.gz
	source = com.voltlaunchr.volt.desktop
	source = com.voltlaunchr.volt.metainfo.xml
	source = disable-self-updater.patch
	source = use-system-onnxruntime.patch
	sha256sums = 4a0194cbd41e7174faab5b7e84def9ff67554f8dfc2dd09245a042f0c820bbc4
	sha256sums = a7bb5619b16236390174f25d8b2d29ddd690cced44c647a2ee5b2bb3d8db1e32
	sha256sums = 482347ccc250eae9503edbeaea7b5450d27386088a91ecc67b1f7bdcd2b699f9
	sha256sums = d98daa9cabbffa104bed3e3872b032ca049ba16af82ea2a5b8702df6da976a9b
	sha256sums = 2d6715e1c2ecf866caf3ba7fa48cc67424a3855e7d7b1dc1be8e04456da553bf

pkgname = volt-launchr
